@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, "Helvetica", sans-serif;
}
.bg-hero {
  background-color: #f1f3ff;
}
.bg-darkblue-4 {
  background-color: #0d28a6;
}
.bg-limegreen-4 {
  background-color: #5cb85f;
}
.text-darkblue-4 {
  color: #0d28a6;
}
.bg-warning {
  background-color: #f9cc00;
}
.text-warning {
  color: #f9cc00;
}
.fill-warning {
  fill: #f9cc00;
}
.bg-danger {
  background-color: #fa2c5a;
}
.border-neutral {
  border-color: #d0d0d0;
}
.border-btn {
  border-color: #c4c4c4;
}
.hover:bg-limegreen-4:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(92 184 95 / var(--tw-bg-opacity));
}
